header, section,body,footer {display: block; }
/* for older browsers */
body{
    margin-left:20%;
}
nav{
    display: inline;
    margin-top:15%;
    margin-right:30%;
    float: right;
}
body h2
{
    margin-top:4%;
    font-family: Tahoma, Arial, sans-serif;
	color: #2a964d;
    font-weight: normal;
	text-shadow: 2px 2px 3px #ddd;
}
.output{
    font-family: Tahoma, Arial, sans-serif;
    color: #2a964d;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
header select{
    width: 90px; 
    height: 30px;
}

#retrieve{
    float:right;
    margin-right:30%;
}

section input {
    float: left;
    width: 480px; 
    height: 40px;
    } 
.button {
   background-color: #4CAF50;
   border: none;
    color: white;
    padding: 30px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    #saveChanges{
        margin-right:30%;
        float: right;
    }